@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    text-align: center;
    font-family: 'DM Sans';
}
/*____________________________navbar_____________________________*/
header{
    background-color: #F6F8FB;
}
.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #F6F8FB;
    width: 100%;
    transition: 1s;
    z-index: 10;
}
.navbar.scrolled{
    background-color: white;
    border: 1px solid rgb(242, 241, 241);
}
.container{
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 70%;
}
.nav-link:hover{
    color: purple;
}
.nav-link{
    color: rgb(123, 121, 121);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: 500ms;
    padding: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 19px;
}
ul {
    list-style-type: none;
    display: flex;
  }  
li a {
   padding: 8px 16px;
   text-decoration: none;
}
li a:hover {
    color: white;
}
.register{
    color: rgb(141,68,139);
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    font-family: 'DM Sans';
    border-radius: 5px;
    margin: 1px;
    height: 50px;
    width: 150px;
    border: 2px solid rgb(141,68,139);
}
.register:hover{
    background-color: rgb(141,68,139);
    color: white;
    border-radius: 5px;
    margin: 1px;
    height: 50px;
    width: 150px;
}
/* ________________________________banier______________________________________ */
.banner{
    justify-content: center;
    display: flex;
    width:100%;
}
.great{
    margin-top: 8rem;
    display: flex;
    width:70%;
    background-color: #F6F8FB;
}
.soft{
    width: 45%;
}
.imgContainer{
    width: 54%;
}
h3{
    font-size: 64px;
    font-weight: 700;
    color: rgb(15,33,55);
    text-align: left;
}
.soft p{
    line-height: 42px;
    font-size: 19px;
    color: rgb(2, 7, 62);
    text-align: left;
}
.homdafer{
    width: 100%;
    height: 100%;
}
form{
    text-align: start;
}
.sub{
    border: 2px solid white;
    padding: 20px;
    font-family: arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgb(52, 61, 72);
    border-radius: 5px;
}
.soft form .subs{
    background-color: rgb(141,68,139);
    color: white;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;
    border: transparent;
    border-radius: 5px;
}
/* _____________________sponsor____________ */
.sponsor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin-top: 40px;
    padding-right: 40px;
}
.sponsor span{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    font-family: 'DM Sans';
    color: rgb(86, 98, 114);
}
/* ______________________________________section 1_________________________ */
.sect1{
    justify-content: center;
    width: 100%;
}
.ikone{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
}
h5{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgb(141, 68, 139);
}
h6{
    font-size: 18px;
    color: rgb(15, 33, 55);
    font-weight: 700;
}
h4{
    font-size: 36px;
    font-weight: 700;
    color: rgb(15, 33, 55);
}
.get p{
    font-size: 13px;
    font-weight: 400;
    font-style: 'DM Sans';
    color: rgb(83, 85, 87);
    text-align: center;
}
.stylo{
    background-color: rgb(255,224,141);
    padding: 35px;
    border-radius: 30px;
}
.vecteur{
    background-color: rgb(119,231,231);
    padding: 20px;
    border-radius: 35px;
}
.editeur{
    background-color: rgb(87,185,238);
    padding: 20px;
    border-radius: 30px;
}
.best{
    background-color: rgb(255,174,143);
    padding: 20px;
    border-radius: 30px;
}
/* ______________________________________section 2__________________ */
.sect2{
    justify-content: center;
}
.boost{
    display: flex;
    width: 80%;
    text-align: center;;
    margin-left: auto;
    margin-right: auto;
}
.boostimg{
    width: 65%;
}
.boostpara{
    width: 35%;
    text-align: start; 
}
.boostpara h4{
    font-size: 48px;
    font-weight: 700;
}
.boostpara p{
    font-size: 17px;
    font-weight: 400;
    font-style: 'DM Sans';
    color: rgb(190, 189, 189);
}
.boostpara ul {
    padding: 0;
    text-align: start;
    display: block;
    color: gray; 
}
.boostpara a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(141, 68, 139);
    align-items: center;
}
.saxx{
    display: flex;
    align-items: center;
    padding: 0px 15px 15px 0px;
}
.saxx svg{
    padding: 0px 10px 0px 0px;
}
.mor{
    display: flex;
    color: rgb(141, 68, 139);
}
/* __________________________________section 3_________________________ */
.sec3{
    width: 100%;
    justify-content: center;
    display: block;
    text-align: center;
}
.leading{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.leading h4{
    font-size: 48px;
    font-weight: 700;
    font-style: 'DM Sans';
}
.leading p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-style: 'DM Sans';
    color: rgb(100, 99, 99);
}
.explor a{
    text-decoration: none;
    color: rgb(141, 68, 139);
    font-weight: 700;
}
.image-container {
    position: relative;
    width: 70%;
    transition: opacity 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
  }
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .video {
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
  }
  .video-container {
    display: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
  }
  .vide{
    width: 90%;
  }
  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #8D448B;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 1;
  }
  .play-icon:hover {
    background-color: #8D448B;
    color: white;
  }
  /* _____________________________section 4______________________ */
.testimondial {
    background-color: transparent;
    width: 100%;
    justify-content: center;
    display: block;
}
.heading p{
    color: #8D448B;
    font-family: 700;
    font-size: 18px;
}
.heading h2{
    font-size: 36px;
    font-weight: 700;
    font-family: 'DM Sans';
    color: rgb(35, 34, 34);
}
.carrousel {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 40px;
}
.profil {
    position: absolute;
    width: 790px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    z-index: -1; 
}
.profil.active {
    opacity: 1;
    z-index: 1;   
}
.profil p {
 
    font-size: 32px;
    line-height: 58px;
    font-weight: 400;
    color: rgb(15, 33, 55);
    font-family: 'Playfair Display', serif;
}
.d-flex {
    display: flex;
    width: 50%;
    align-items: center;
    text-decoration: none;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
}
.left{
    width: 20%;
    margin: 10px;
}
.right {
    width: 80%;
    padding-left: 10px;
}
.right p{
    color: black;
}
.Car1 {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}
.car1 p{   
    font-size: 18px;
    font-weight: 500;
}
.car1 span{
    color: rgb(101, 97, 97);
    font-size: 12px;
    font-weight: 400;
    font-style: 'DM Sans';
    position: relative;
    bottom: 18px;
}
.car:hover{
    color: rgb(32, 31, 31);
    transition: 0s;
}
.car1  {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    width: 80%;
}
.line-indicator {
    position: absolute;
    top: 0; 
    right: 30%;
    width: 180px; 
    height: 3px; 
    color: #8D448B;
    background-color: rgb(141, 68, 139); 
    transition:  0.3s ease, left 0.3s ease; 
    transform: translateX(-50%);
}
.active {
    display: flex;
}
/* ______________________________section 5__________________________ */
.sect5{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.free{
    width: 50%;
    text-align: start;
    margin-top: 100px;
}
.homportable{
    width: 50%;
}
.homportable img{
    width: 100%;
}
.free h4{
    font-size: 48px;
    font-weight: 700;
    font-style: 'DM Sans';
}
.we{
    font-size: 17px;
    font-weight: 400;
    font-style: 'DM Sans';
    color: rgb(91, 89, 89);
}
.fre{
    color: rgb(159, 154, 154);
}
.Mor{
    display: flex;
    color: rgb(141, 68, 139);
    text-decoration: none;
}
.Mor a{
    display: flex;
    color: rgb(141, 68, 139);
    text-decoration: none;
    font-family: 400;
    font-size: 16px;
}
/* ____________________________________section 6 ________________ */
.sect6{
    width: 100%;
    background-color: rgb(248,250,252);
}
.tutorials{
    justify-content: center;
}
.tutorials h4{
    font-size: 36px;
    font-weight: 700;
    font-style: 'DM Sans';
}
.saisir{
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.HOW{
    padding-left: 8%;
}
.HOW p{
    text-align: start;
}
.HOW  a{
    text-decoration: none;
    color: rgb(16, 16, 73);
    font-size: 18px;
    font-weight: 700;
}
.how a:hover{
    color: #8D448B;
}
.how{
    border: 1px solid  rgb(234, 231, 231);
    margin: 15px;
    border-radius: 6px;
    background-color: white;
}
.imgTuto{
    width: 100%;
}
.ikoncom p{
    color: gray;
    font-size: 20px;
}
.avant-dernier{
    width: 100%;
}
.move{
    width: 68%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(141,68,139);
    border-radius: 20px;
}
.hair{
    display: flex;
    width: 100%;
    align-items: center;
}
.hair h4{
    padding-left: 50px;
    color: white;
    text-align: start;
    font-size: 36px;
    font-weight: 700;
    font-style: 'DM Sans';
}
.World img{
    position: relative;
    padding-left: 500px;
    bottom: 80px;
}
.World{
    width: 70%;
}
.world{
    width: 25%;
    display: inline-block;
}
.world button h4{
    font-size: 17px;
    font-weight: 700;
    color: #8D448B;
}
.world button:hover{
    background-color: rgb(53, 52, 52);
    color: white;
}
.world  h4:hover{
    color: white;
}
.world button{
    position: relative;
    bottom: 110px;
    background-color: white;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
}
/* ____________________footer____________________ */
.footer{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.photo_Footer{
    width: 60%;
}
.photo_Footer p{
    color: gray;
    font-size: 16px;
}
.photo_Footer p a img{
    padding-right: 30px;
    position: relative;
    top: 10px;
}
.link_Footer{
    width: 40%;
    position: relative;
    padding-top: 33px;
}
.link_Footer a{
    text-decoration: none;
    color: rgb(67, 66, 66);
    padding: 3px;
}
.link_Footer a:hover{
    color: #8D448B;
}
/* __________________________________________media query */
@media (min-width: 412px){
    .navbar{
        width: 100%;
        border: 2px solid black;
    }
    .navbar .container{
        padding: 0px;
        margin: 0px;
        width: 50%;
        border: 2px solid red;
    }
    .banner{
        margin-left: 0px;
        margin-right: 0px;
    }
    .great{
        width: 100%;
        display: block;
    }
    .soft{
        width: 100%;
        display: block;
        margin-top: 15px;
        padding-left: 5px;
    }
    .imgContainer{
        width: 100%;
    }
    .soft h3{
        font-size: 26px;
    }
    .soft p{
        font-size: 14px;
    }
    .sponsor {
        width: 80%;
        display: flex;
    }
    /* ____________________section 1___________ */
    .sect1{
        width: 100%;
        padding-top: 4rem;
    }
    .sect1 h4{
        font-size: 20px;
    }
    .ikone{
        justify-content: center;
        display: block;
        width: 100%;
    }
    .get{
        width: 100%;
        padding-top: 10px;
    }
    .get p{
        font-size: 16px;
    }
    
/* _________________________section 2________________ */
    .boost{
        display: block;
        width: 100%;
        text-align: center;
        margin-left: 2px;
        text-align: center;
    }
    .boostimg{
        width: 100%;
    }
    .boostimg img{
        width: 350px;
    }
    .boostpara{
        width: 100%;
        text-align: center;
    }
    .boostpara h4{
        font-size: 25px;
        font-weight: 700;
    }
    .saxx{
        display: flex;
        align-items: center;
        padding: 0px 15px 15px 0px;
    }
    .saxx svg{
        padding: 0px 30px 0px 30px;
    }
    .mor{
        padding-left: 15px;
    }
    /* __________________________________section 3________________________ */
    .sec3{
        width: 100%;
        margin: 0rem;
        padding: 0px;
    }
    .leading{
        width: 100%;
        padding-left: 0px;
    }
    .leading h4{
        font-size: 21px;
    }
    .image-container {
        position: relative;
        width: 90%;
        max-width: 950px;
        transition: opacity 0.3s ease;
        margin-left: auto;
        margin-right: auto;
      }
    .video-container {
        display: none;
        margin-left: auto;
        margin-right: auto;
      } 
      .play-icon{
        position: absolute;
        top: 60%;
      }
    /* _______________________________section 4_______________ */
    .testimondial {
        background-color: transparent;
        width: 100%;
        margin-top: 06rem;
        display: block;
        justify-content: center;
    }
    .heading h2{
        font-size: 26px;
        font-weight: 700;
        font-family: 'DM Sans';
        color: rgb(35, 34, 34);
    }
    .carrousel {
        position: relative;
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        background-color: white;
    }
    .profil{
        width: 100%;
    } 
    .profil p{
        font-size: 16px;
    }
    .Car1 {
        display: flex;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .car1{
        width: 100%;
    }
    .line-indicator {
        width: 380px; 
    }
    .right p{
        color: white;
        padding-left: 18px;
    }
    .right span{
        color: white;
        padding-left: 20px;
    }
    /* _______________________section 5______________________ */
    .sect5{
        width: 100%;
        display: block;
    }
    .free{
        width: 100%;
        text-align: start;
        margin-top: 100px;
        text-align: center;
    }
    .homportable{
        width: 100%;
    }
    .free h4{
        font-size: 28px;
    }
    
    .fre{
        color: rgb(159, 154, 154);
    }
    .Mor{
        display: flex;
        color: rgb(141, 68, 139);
        text-decoration: none;
        padding-left: 40%;
    }
    /* _____________________section 6__________________________ */
    .tutorials{
        width: 100%;
        justify-content: center;
        margin-top: 8rem;
    }
    .tutorials h4{
        font-size: 22px;
        font-weight: 700;
        font-style: 'DM Sans';
        color: rgb(52, 50, 50);
    }
    .saisir{
        display: block;
        width: 100%;
        padding-top: 4rem;
    }
    .move{
        width: 100%;
    }
    .hair{
        display: block;
        align-items: center;
    }
    .World{
        width: 100%;
    }
    .world{
        width: 70%;
    }
    .World h4{
        color: white;
        padding-top: 10px;
    }
    .world button h4{
        font-size: 17px;
        font-weight: 700;
        color: #8D448B;
    }
    .world button:hover{
        background-color: rgb(53, 52, 52);
        color: white;
    }
    .world  h4:hover{
        color: white;
    }
    .world button{
        position: relative;
        bottom: 250px;
        background-color: white;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        justify-content: center;
    }
    .world img{
        position: relative;
        bottom: 140px;
    }
    /* ___________________footer_________________________ */
    .footer{
        width: 100%;
        display: block;
    }
    .photo_Footer{
        display: block;
        width: 90%;
        border: 2px solid red;
        padding: 5px;
    }
    .photo_Footer p a img{
        padding-right: 10px;
        position: relative;
        top: 10px;
        width: 95%;
    }
    .link_Footer {
        display: flex;
    }
    .link_Footer a{
        color: white;
    }
}
 
  

